.nav-bar {
  height: 35px;
  box-sizing: border-box;
  background-color: #c20c0c;
  border-bottom: 1px solid #a40011;

  ul {
    height: 35px;
    width: 1100px;
    padding-left: 170px;
    display: flex;
    align-items: center;
    margin: 0 auto;

    li {
      margin: 0 10px;

      a {
        height: 20px;
        display: inline-block;
        padding: 0 13px;
        color: $font-2;
        border-radius: 20px;
      }

      a:hover,
      .menu-active {
        background-color: $bg-red;
      }
    }
  }
}
